div.skills
    h1 SKILLS
    div.skills-creative
        h2 CREATIVE
        +skill(9)
    div.skills-teamwork
        h2 TEAMWORK
        +skill(11)
    div.skills-innovate
        h2 INNOVATE
        +skill(6)
    div.skills-communication
        h2 COMMUNICATION
        +skill(11)
