.skills div
  text-align center

.skills h1
  margin-bottom 1.61rem

.skills h1::before
  background-icon "skills/lightbulb.svg"

.skills-points
.skills-points-colored
  display inline-block
  margin 0.48rem 0.45rem 1.129rem 0

.skills-points
  circle 1.129rem points-base-color

.skills-points-colored
  circle 1.129rem header-color

.skills h1::after
  margin-left 0.87rem