doctype html
head
    meta(name="viewport" content="width=device-width; initial-scale=1.0")
    title cv
body
    div.column
        div.column-1
            include person/person
            +person()
            include profile/profile
            +profile()
            include contact/contact
            +contact()
            include skills/skills
            +skills()

        div.column-2
            include education/education
            +education()
            include experience/experience
            +experience()
            include software/software
            +software()