doctype html
head
    title cv
body
    include mixins/skill
    include mixins/softwarePoints
    div.column
        div.column-1
            include person/person
            include profile/profile
            include contact/contact
            include skills/skills

        div.column-2
            include education/education
            include experience/experience
            include software/software