@font-face
  font-family MyriadPro
  src url("./MyriadProRegular.ttf")

header-color=#3d6cb0
header-circles-color=#3f6fb6

circle(n, color)
  width n
  height n
  border-radius 50%
  background-color color

body
  font-family MyriadPro
  width 2480px
  height 3508px

h1
  font-size 82px
  color header-color
  display flex
  align-items center

h1::before
  content ''
  display inline-block
  circle 130px header-circles-color
  box-shadow 0 0 0 7px #ffffff,
    0 0 0 9px header-circles-color
  margin-right 26px

h1::after
  content ''
  display inline-block
  height 10px
  flex-grow 1
  background-color header-color

h2
li span
  font-size 51px
  font-weight normal

ul
  list-style none

li::before
  content ''
  display inline-block
  circle 40px #000000
  margin-right 45px

.circle
  margin-top 176px
  margin-left 320px
  circle 405px header-color
  box-shadow 0 0 0 28px #ffffff,
    0 0 0 30px header-color


p
    font-size 31px

li span:first-child
  font-weight bold

.column
  columns 2
  //column-width 260 px
  column-gap 153 px
  margin-left 125 px

.name-inf
  border-collapse collapse
  margin-top 75px
  margin-left 275px

.name-inf.tr
  height 104 px
  border-width 0

.name-inf.td
  border-width 0
  line-height 0
  font-weight normal

.name-inf-name
  font-size 104 px

.name-inf-surname
  font-weight bold
  font-size 123 px

.name-inf-prof-name
  font-size 50 px
  font-weight bold

.name-inf-prof-name
  text-align center

.profile-bold
  font-weight bold

.contact-tab
  font-size 41 px
  text-align left

.contact-tab th
  color header-color
  font-weight bold

.contact-tab td
  padding-left 50 px

.software-column
  columns 2

.education-degree
  color header-color
