@font-face
  font-family MyriadPro
  src url("./MyriadProRegular.ttf")

body
  font-family MyriadPro

.column
  columns 2

table
  border-collapse collapse

tr
  height 104 px
  border-width 0

td
  border-width 0
  line-height 0
  font-size 104 px
  font-weight normal

.surname
  font-weight bold
  font-size 123 px

.prof-name
  font-size 50 px
  font-weight bold

h1
  font-size 82 px
  color #3d6cb0

  .profile p
    font-size 31 px

.profile-bold
  font-weight bold