mixin education()
    div.education
        h1 EDUCATION
        ul
            li
                span.education-degree MASTER DEGREE
                span.education-period // Feb 2011 - Jun 2014
                h2 UNIVERSITY NAME
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li
                span.education-degree MASTER DEGREE
                span.education-period // Feb 2011 - Jun 2014
                h2 UNIVERSITY NAME
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li
                span.education-degree MASTER DEGREE
                span.education-period // Feb 2011 - Jun 2014
                h2 UNIVERSITY NAME
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li
                span.education-degree MASTER DEGREE
                span.education-period // Feb 2011 - Jun 2014
                h2 UNIVERSITY NAME
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
