@font-face {
  font-family: MyriadPro;
  src: url(fonts/MyriadProRegular.ttf), url(fonts/MyriadProRegular.woff), url(fonts/MyriadProRegular.svg);
}
@font-face {
  font-family: MyriadProBold;
  src: url(fonts/MyriadProBold.ttf);
}
body {
  font-family: MyriadPro;
}
h1 {
  font-size: 2.65rem;
  font-weight: bold;
  color: #3d6cb0;
  display: flex;
  align-items: center;
  line-height: 1.77rem;
  margin: 0;
}
h1::before {
  content: "";
  display: inline-block;
  color: #fff;
  font-size: 4.19rem;
  line-height: 4.68rem;
  padding: auto 0;
  text-align: center;
  width: 4.68rem;
  height: 4.68rem;
  border-radius: 50%;
  background-color: #3f6fb6;
  box-shadow: inset 0 0 0 1px #3f6fb6, inset 0 0 0 0.25rem #fff;
  margin: 0;
  margin-right: 0.68rem;
}
h1::after {
  content: '';
  display: inline-block;
  height: 0.32rem;
  flex-grow: 1;
  background-color: #3d6cb0;
  margin: 0;
}
h2,
li span {
  font-size: 1.65rem;
  font-weight: normal;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1.77rem 0 3.39rem 0.806rem;
}
li p,
li h2 {
  margin-left: 2.58rem;
}
li h2 {
  margin-bottom: 0.32rem;
}
li p {
  margin-bottom: 0.645rem;
}
li::before {
  content: '';
  display: inline-block;
  width: 1.29rem;
  height: 1.29rem;
  border-radius: 50%;
  background-color: #000;
  margin-right: 0.69rem;
}
p {
  font-size: 1rem;
  margin: 0;
}
li span:first-child {
  font-weight: bold;
}
.column {
  margin: 6.1% 4.6% 5.5% 4.6%;
}
.column::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
@media only screen and (min-width: 950px) and (max-width: 1920px) {
  html {
    width: 100%;
  }
  .column {
    width: 90.6%;
  }
  .column-1 {
    width: 37%;
    float: left;
  }
  .column-2 {
    width: 56.38%;
    float: right;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  html {
    font-size: 21px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 949px) {
  html {
    width: 100%;
  }
  .column-1 .column-2 {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 599px) {
  html {
    font-size: 12px;
  }
}
.person__photo {
  margin: 3.38% 0 0 23.55%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #3d6cb0;
  box-shadow: inset 0 0 0 1px #3d6cb0, inset 0 0 0 0.82rem #fff;
}
.person__name-inf {
  border-collapse: collapse;
  margin: 1.77rem 0 4.8rem 4.84rem;
  padding: 0;
}
.person__name-inf.tr {
  border-width: 0;
  padding: 0;
  line-height: 0;
}
.person__name-inf.td {
  border-width: 0;
  line-height: 0;
  font-weight: normal;
  padding: 0;
}
.person__name-inf-name {
  font-size: 3.42rem;
  line-height: 3.35rem;
  padding: 0;
}
.person__name-inf-surname {
  font-weight: bold;
  font-size: 3.27rem;
  line-height: 3.55rem;
}
.person__name-inf-prof-name {
  font-size: 1.61rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.58rem;
}
.profile h1::before {
  background-image: url(profile/user.svg);
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.profile-bold {
  font-weight: bold;
}
.profile_text {
  padding: 0;
  margin: 0.74rem 0 2.9rem 0;
  line-height: 1.19rem;
}
.profile h1::after {
  margin-left: 0.55rem;
}
.contact h1::before {
  background-image: url(contact/phone.svg);
  background-size: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.contact h1::after {
  margin-left: 0.48rem;
}
.contact-tab {
  font-size: 1.32rem;
  text-align: left;
  padding: 0;
  margin: 1.61rem 0 1.13rem 0;
}
.contact-tab th {
  color: #3d6cb0;
  font-weight: bold;
  padding-bottom: 1.77rem;
}
.contact-tab td {
  padding-left: 2.26rem;
  padding-bottom: 1.77rem;
}
.skills div {
  text-align: center;
}
.skills h1 {
  margin-bottom: 1.61rem;
}
.skills h1::before {
  background-image: url(skills/lightbulb.svg);
  background-size: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.skills-points,
.skills-points-colored {
  display: inline-block;
  margin: 0.48rem 0.45rem 1.129rem 0;
}
.skills-points {
  width: 1.129rem;
  height: 1.129rem;
  border-radius: 50%;
  background-color: #e6e6e6;
}
.skills-points-colored {
  width: 1.129rem;
  height: 1.129rem;
  border-radius: 50%;
  background-color: #3d6cb0;
}
.skills h1::after {
  margin-left: 0.87rem;
}
.education h1::before {
  background-image: url(education/star.svg);
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.education-degree {
  color: #3d6cb0;
}
.education h1::after {
  margin-left: 0.77rem;
}
.experience ul {
  margin-top: 2.9rem;
  margin-bottom: 3.226rem;
}
.experience h1::before {
  background-image: url(experience/suitcase.svg);
  background-size: 55%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.experience h1::after {
  margin-left: 0.32rem;
}
.software::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.software h1::before {
  background-image: url(software/laptop.svg);
  background-size: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.software h1::after {
  margin-left: 1.645rem;
}
.software h1 {
  margin-bottom: 1.61rem;
}
.software-column-1 {
  float: left;
  padding: 0;
  width: 44%;
}
.software-column-2 {
  float: right;
  padding: 0;
  width: 44%;
}
.software-column_points,
.software-column_points_colored {
  display: inline-block;
  height: 1.45rem;
}
.software-column_points {
  background-color: #e6e6e6;
  width: 100%;
  margin: 0.806rem 0 1.45rem 0;
}
.software-column_points_colored {
  background-color: #3d6cb0;
}
