.contact h1::before
  background-icon "contact/phone.svg"

.contact h1::after
  margin-left 0.48rem

.contact-tab
  font-size 1.32rem
  text-align left
  padding 0
  margin 1.61rem 0 1.13rem 0

.contact-tab th
  color header-color
  font-weight-bold()
  padding-bottom 1.77rem

.contact-tab td
  padding-left 2.26rem
  padding-bottom 1.77rem