mixin contact()
    div.contact
        h1 CONTACT
        table.contact-tab
            tr
                th ADDRESS
                td Main Street, City.
            tr
                th E-MAIL
                td contact@domain.com
            tr
                th PHONE
                td 555-555-555
            tr
                th WEBSITE
                td www.yourweb.com