div.person
    div.person__photo
    table.person__name-inf
        tr
            td.person__name-inf-name NAME HERE
        tr
            td.person__name-inf-surname SURNAME
        tr
            td.person__name-inf-prof-name GRAPHIC DESIGNER