.software::after
  clearfix()
.software h1::before
  background-icon "software/laptop.svg"

.software h1::after
  margin-left 1.645rem

.software h1
  margin-bottom 1.61rem

.software-column-1
  float left
  padding 0
  width 44%

.software-column-2
  float right
  padding 0
  width 44%

.software-column_points
.software-column_points_colored
  display inline-block
  height 1.45rem

.software-column_points
  background-color points-base-color
  width 100%
  margin 0.806rem 0 1.45rem 0

.software-column_points_colored
  background-color header-color