.profile h1::before
  background-icon "profile/user.svg" 50%
.profile-bold
  font-weight-bold()

.profile_text
  padding 0
  margin 0.74rem 0 2.9rem 0
  line-height 1.19rem

.profile h1::after
  margin-left 0.55rem