div.experience
    h1 EXPERIENCE
    ul
        li
            span.experience-company COMPANY NAME
            span.experience-period  // Feb 2011 - Jun 2014
            h2 YOUR JOB HERE
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

        li
            span.experience-company COMPANY NAME
            span.experience-period  // Feb 2011 - Jun 2014
            h2 YOUR JOB HERE
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

        li
            span.experience-company COMPANY NAME
            span.experience-period  // Feb 2011 - Jun 2014
            h2 YOUR JOB HERE
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.